.project-image-AWS {
    width: 150px;
    height: 150px;
}

#cert-card {
    position: relative;
    align-items: center;
}

#cert-heading {

}

.certification-comment {
    font-size: 16px;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    right: 8px;
    color: gray;
}