.project-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
    top: 0px;
    left: 0px;
}

.project-card:hover {
    opacity: 80%;
}

.project-links {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.project-title-app {
    margin: 3%;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
}

.project-blurb {
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2%;
}

.project-paragraph {
    width: 80%;
    font-size: 20px;
    margin: 0px;
}

@media screen and (max-width: 900px) {
    .project-card {
        width: 75vw;
    }
    .project-title-app {
        font-size: 20px;
    }
    .project-paragraph {
        font-size: 17px;
    }
    .project-image {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 600px) {
    .project-card {
        width: 90vw;
    }
    .project-title-app {
        font-size: 16px;
    }
    .project-paragraph {
        font-size: 14px;
    }
    .project-image {
        width: 70px;
        height: 70px;
    }
}

