@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

#clients-title {
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.clients-logo {
    border-radius: 75px;
    width: 125px;
    font-family: 'Roboto', sans-serif;
}

.clients-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-project-container:hover {
    opacity: 70%;
}

.client-project-title {
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}