@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&display=swap');

#clients-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 3%;
    background-color: rgb(91, 91, 91);
    border-radius: 10px;
    padding: 3%;
}

#clients-title {
    color: white;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Noto Sans Lepcha', sans-serif;
}

.project-title {
    margin-left: 1%;
    color: white;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Noto Sans Lepcha', sans-serif;
    font-style: italic;
}

.project-description {
    margin-left: 2%;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Noto Sans Lepcha', sans-serif;
}

.client-logo {
    float: left;
    border-radius: 75px;
    width: 100px;
    margin-right: 2%;
}

.project-testimonial {
    font-size: 16px;
    font-style: italic;
}

.client-name {
    text-align: right;
    font-size: 14px;
    margin-right: 3%;
    opacity: 75%;
}

.client-link {
    text-decoration: none;
}

.client-project-title {
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.client-project-container {
    border-top: 1px white solid;
    width: 100%;
    padding: 1%;
}

.client-project-container:hover {
    opacity: 75%;
    cursor: pointer;
    background-color: rgb(62, 62, 62);
}

@media screen and (max-width: 600px) {
    #clients-title {
        font-size:22px;
    }
    .client-logo {
        height: 80px;
        width: 80px;
    }
}