.client-title {
    margin-left: 1%;
    font-size: 26px;
    font-weight: 500;;
    font-style: italic;
}

.client-description {
    margin-left: 2%;
    font-weight: 400;
    font-size: 18px;
}

.client-logo {
    float: left;
    border-radius: 75px;
    width: 100px;
    margin-right: 2%;
}

.client-testimonial {
    font-size: 16px;
    font-style: italic;
    padding: 2%;
}

.client-name {
    text-align: right;
    font-size: 14px;
    margin-right: 3%;
    opacity: 75%;
}

@media screen and (max-width: 600px) {
    #clients-title {
        font-size:22px;
    }
    .client-logo {
        height: 80px;
        width: 80px;
    }
}