#main-container {
    background-color:rgb(229, 229, 229);
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#about-title {
    font-size:36px;
}

#tech-container {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-item {
    margin: 2%;
    border-radius: 10px;
    border: 3px solid #1c2743;
    box-shadow: 1px 1px 1px gray;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 20%;
    cursor: pointer;
}

.tech-name {
    font-size: 24px;
}

.tech-image {
    max-width: 25%;
    height: auto;
    margin: 1%;
}

.language-window {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    color: white;
    background-color:#1c2743;
    border: 3px solid white;
    padding-left: 5%;
    padding-right: 5%;
    height: fit-content;
    box-shadow: 1px 1px 1px rgb(37, 37, 37);
    padding: 4%;
    border-radius: 30px;
    width: 40%;
}

.row {
    display: flex;
    align-items: center;
    float: right;
    border-bottom: 1px gray solid;
}

.title-container {
    float: right;
    padding: 2px;
}

.row-proj {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-title {
    font-size: 24px;
    margin-right: 8px;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
}

.lan-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.language {
    font-size: 24px;
}

.language-project {
    font-size: 22px;
}

@media screen and (max-width: 900px) {
    .tech-name {
        font-size:20px;
    }
    #about-title {
        font-size:32px;
    }
    .language-title {
        font-size: 18px;
    }
    .language {
        font-size: 18px;
    }
    .language-project {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .tech-item {
        width: 40%;
    }
    .tech-name {
        font-size:16px;
    }
    #about-title {
        font-size:22px;
    }
    .language-title {
        font-size: 16px;
    }
    .language {
        font-size: 16px;
    }
    .language-project {
        font-size: 14px;
    }
}