p {
    color: rgb(232, 232, 232);
    font-family: 'Roboto', sans-serif;
}

#main-container {
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 8px solid rgb(65, 64, 64);
}

.icon {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.icon.active{
    opacity: 1;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    justify-content: center;
}

.about-structure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-structure-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.language-window {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    color: white;
    background-color:#5B5B5B;
    padding-left: 5%;
    padding-right: 5%;
    height: fit-content;
    box-shadow: 1px 1px 1px rgb(37, 37, 37);
    padding: 50px;
    border-radius: 5px;
    width: 60%;
}

.lan-button {
    background-color:#313131;
    border: none;
    padding: 5px;
}

.lan-button:hover {
    opacity: 70%;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    float: right;
    border-bottom: 1px gray solid;
}

.title-container {
    float: right;
    padding: 2px;
}

.row-proj {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-title {
    font-size: 22px;
    margin-right: 8px;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
}

.lan-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.language {
    font-size: 22px;
}

.language-project {
    font-size: 20px;
}

#about-inline-title {
    font-size: 32px;
    color: rgb(232, 232, 232);
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 751px){
    .about-structure {
        justify-content: space-evenly;
        width: 70%;
    }
    .about-structure-inline {
        justify-content: center;
        width: 20%;
    }
    #about-inline-title {
        margin-left: 90%;
        margin-right: 90%;
    }
    .language-project {
        width: max-content;
        padding: 8px;
    }
    #language-window {
        width: max-content;
    }
    .lan {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 600px){
    .language-window {
        width: 75%;
    }
    .about-structure {
        justify-content: space-evenly
    }
    .about-structure-inline {
        justify-content: space-between;
    }
    #about-inline-title {
        padding-left: 30px;
        padding-right: 30px;
    }
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .lan {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 750px) {
    .lan {
        height: 60px;
        width: 60px;
    }
    #about-inline-title {
        font-size: 22px;
    }
}