footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  .footer-contact {
    display: flex;
    flex-direction: row;
  }

  .footer-info {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #footer-info-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-title {
    color:white;
    font-size: 14px;
    border-bottom: 2px white solid;
  }

  .footer-social-title {
    color: rgb(232, 232, 232);
    font-size: 14px;
    border-bottom: 2px white solid;
  }
  
  .footer-p-content {
    color: white;
    font-size: 12px;
  }

@media screen and (max-width: 600px) {
  #footer {
    flex-direction: column;
  }
}