body {
  background-color: #1c2743;
  height: 100vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#App {
  position: relative;
  min-height: 100vh;
}

.title.navy {
  font-size: 40px;
  font-weight: 600;
  color: #1c2743;
}

.title.white {
  font-size: 38px;
  font-weight: 600;
  color: white;
}