body {
  background-color: #1c2743;
  height: 100vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#App {
  position: relative;
  min-height: 100vh;
}

.title.navy {
  font-size: 40px;
  font-weight: 600;
  color: #1c2743;
}

.title.white {
  font-size: 38px;
  font-weight: 600;
  color: white;
}


#banner {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  border-bottom: 8px solid rgb(65, 64, 64);
}

#banner-img {
  max-width: 100%;
}

@media screen and (min-width: 601px){
  #banner-img {
    margin-top: 5%;
  }
}

@media screen and (max-width: 600px){
  #banner-img {
    margin-top: 8%;
  }
}