main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

#dev-name {
    color: rgb(93, 180, 239);
    font-size: 44px;
    margin: 0px;
}

.dev-description {
    color: rgb(233, 233, 233);
    text-align:center;
    font-size: 38px;
    margin: 0px;
}

#dev-paragraph {
    font-size: 22px;
    color: white;
}

#dev-paragraph li {
    display:grid;
    padding: 1px;
    margin: 10px;
    font-size: 24px;
}

#dev-paragraph li:nth-child(odd) {
    color:  rgb(93, 180, 239);
}

#social-link-container {
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    width: 50%;
}

.contact-image {
    width: 40px;
    border-radius: 5px;
    filter: brightness(0) invert(1);
}

.contact-image:hover {
    transform:scale(1.3);
    transition: all .2s ease-in-out;
}