main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25%;
    padding-bottom: 25%;
}

#dev-name {
    color: rgb(93, 180, 239);
    font-size: 38px;
}

.dev-description {
    color: rgb(233, 233, 233);
    text-align:center;
    font-size: 30px;
}

#dev-paragraph-container {
    width: 80%;
    text-align: justify;
}

#dev-paragraph {
    text-align:center;
    font-size: 22px;
}